.grid {
    grid-kiss:
    "+--------221px-----------+      +------221px-------------+      +-------221px------------+      +-------221px------------+      "
    "|      .grid-item1       |      |    .grid-item2         |      |      .grid-item3       |      |      .grid-item4       |      "
    "+------------------------+      +------------------------+      +------------------------+      +------------------------+      "
    "                                                                +-------221px------------+                                      "
    "+--------------------------------------------------------+      |                        |      +-------221px------------+      "
    "|         .grid-item--width2-1                           |      |                        |      |       .grid-item5      |      "
    "+--------------------------------------------------------+      |          ^             |      +------------------------+      "
    "+--------------------------------------------------------+      |                        |      +-------221px------------+      "
    "|         .grid-item--width2-2                           |      | .grid-item--height2-1  |      |      .grid-item6       |      "
    "+--------------------------------------------------------+      |                        |      +------------------------+      "
    "+-------221px------------+      +-------221px------------+      |                        |      +-------221px------------+      "
    "|                        |      |     .grid-item7        |      +------------------------+      |      .grid-item8       |      "
    "| .grid-item--height2-2  |      +------------------------+      +--------221px-----------+      +------------------------+      "
    "|                        |                                      |          ^             |      +-------221px------------+      "
    "|                        |                                      |                        |      |                        |      "
    "|                        |                                      | .grid-item--height2-3  |      |                        |      "
    "|                        |                                      |                        |      |                        |      "
    "|                        |                                      |                        |      |                        |      "
    "+------------------------+                                      |                        |      |  .grid-item-height2-4  |      "
    "+--------------------------------------------------------+      |                        |      |                        |      "
    "|        .grid-item--width2-3                            |      +------------------------+      |                        |      "
    "+--------------------------------------------------------+      +-------221px------------+      |                        |      "
    "+--------------------------------------------------------+      |     .grid-item9        |      |                        |      "
    "|        .grid-item--width2-4                            |      +------------------------+      |                        |      "
    "+--------------------------------------------------------+                                      |                        |      "
    "                                                                                                +------------------------+      "
    "                                                                                                +-------221px------------+      "
    "                                                                                                |  .grid-item10          |      "
    "                                                                                                +------------------------+      "
}
.speaker {
  background: #e70095;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
}
.wide {
  background: #57c1e8;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;

}
.tall {
  background: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;

}
.stat {
  background: #00ae41;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.grid {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  background: #e7e7e6;
}
body {
  background: #e7e7e6;
}
