.grid {
  grid-kiss:
  "+---25%----+ +---25%----+ +---25%----+ +---25%----+"
  "|          | |          | |          | |          |"
  "|  .item1  | |  .item2  | |  .item3  | |  .item4  | 221px"
  "|          | |          | |          | |          |"
  "+----------+ +----------+ +----------+ +----------+"
  "                                                     20px"
  "+-----------------------+ +----------+ +----------+"
  "|                       | |          | |          |"
  "|         .wide1        | |          | |  .item5  | 221px"
  "|                       | |          | |          |"
  "+-----------------------+ | .tall1   | +----------+"
  "                          |          |               20px"
  "+-----------------------+ |          | +----------+"
  "|                       | |          | |          |"
  "|          .wide2       | |          | |  .item6  |  221px"
  "|                       | |          | |          |"
  "+-----------------------+ +----------+ +----------+"
  "                                                     20px"
  "+-----------+ +---------+ +----------+ +----------+"
  "|           | |         | |          | |          |"
  "|           | | .item7  | |          | |  .item8  |  221px"
  "|           | |         | |          | |          |"
  "|           | +---------+ |          | +----------+"
  "|  .tall2   |             |  .tall3  |               20px"
  "|           | +---------+ |          | +----------+"
  "|           | |         | |          | |          |"
  "|           | | .item9  | |          | | .item10  | 221px"
  "|           | |         | |          | |          |"
  "+-----------+ +---------+ +----------+ +----------+"
  "                                                    20px"
  "+-----------------------+ +----------+ +----------+"
  "|                       | |          | |          |"
  "|      .wide3           | | .item11  | |          | 221px"
  "|                       | |          | |          |"
  "+-----------------------+ +----------+ |          |"
  "                                       |  .tall4  | 20px"
  "+-----------------------+ +----------+ |          |"
  "|                       | |          | |          |"
  "|        .wide4         | | .item12  | |          | 221px"
  "|                       | |          | |          |"
  "+-----------------------+ +----------+ +----------+"
}
body {
  background: #e7e7e6;
}
header {
  background: #000;
  height: 100px;
}
.grid {
  width: 90%;
  margin: 20px auto;
}
.speaker {
  background: #e70095;
  padding: 20px;
  margin-right: 20px;
}
.item3.speaker, .item7.speaker {
  background: #00ae41;
}
.item9.speaker, .item11.speaker {
  background: #e7e7e6;
}
.item1.speaker {
  background: #000;
}
.tall {
  background: #fff;
  padding: 20px;
  margin-right: 20px;
}
.wide {
  background: #57c1e8;
  padding: 20px;
  margin-right: 20px;
}
